.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.circleChecked {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--mainColor);
}

.circleUnchecked {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(53, 53, 53);
}
